@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
:root {
  --span-padding: 10px 24px;
  --span-background: #e02c6d;
  --span-border-radius: 20px;
  --span-width: 196px;
  --span-height: 44px;
}
section {
  margin: 0 120px 100px 120px;
}

.description-btn {
  margin-top: 1em;
  padding: var(--span-padding);
  width: var(--span-width);
  height: var(--span-height);
  background: var(--span-background);
  border-radius: var(--span-border-radius);
}
/* navigation menu 
================== */
.navigation-menu {
  padding: 87px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-link {
  display: flex;
  align-items: center;
}
.nav-link ul {
  display: flex;
  align-items: center;
}

.nav-link li {
  list-style: none;
  margin-right: 34px;
}
.nav-link a {
  color: #000000;
  text-decoration: none;
}
.nav-link i {
  margin-right: 34px;
}
.nav-title {
  flex-grow: 1;
}
.menu-icon {
  display: none;
}
/* header section 
================= */
.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
span > a {
  text-decoration: none;
  color: #fff;
}
h1 {
  font-size: 52px;
  font-weight: 700;
}
.header-text > p {
  margin-bottom: 16px;
  padding: 16px 0;
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
}
.header-text {
  width: 50%;
  margin-right: 10%;
}
.header-image {
  width: 40%;
  border: 2px solid #f7f0ff;
  border-radius: 50%;
  overflow: hidden;
}
.header-image img {
  width: 100%;
}
.header-image:hover img {
  transform: scale(1.2) rotate(45deg);
  transition: transform 2s ease-out;
}
/*==========================
main section start here 
============================ */

.logo-items {
  display: flex;
  align-items: center;
}

.logo {
  margin: 0 45px;
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 5px 40px #eae3e3 inset;
}
.logo img {
  width: 84px;
}
.products {
  padding: 0 76px 50px;
  position: relative;
}

.card-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}
.card {
  width: 249px;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 5px 5px 10px #aaaaaa;
}
.card img {
  width: 100%;
  height: 50%;
}

.card-description > p,
.number {
  font-weight: bold;
  font-size: 14px;
  color: #787885;
}
.number {
  margin-left: 5px;
}
.card-description > .product-price {
  font-weight: normal;
  font-size: 24px;
}
.ratings {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card-description h2 {
  color: #18191f;
  font-size: 28px;
  font-weight: 500;
}

.filled i {
  width: 16px;
  height: 16px;
}
.filled {
  color: #fb8200;
}
.card-descripton p {
  font-size: 14px;
  font-weight: 700;
}
.see-more {
  position: absolute;
  right: 76px;
  bottom: 0;
}
.see-more a {
  color: #e02c6d;
  text-decoration: none;
}
.top-products > h2 {
  text-align: center;
  margin-bottom: 30px;
}

/* section feature-product 
=========================== */
.feature-product {
  padding: 0 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.product-image {
  width: 50%;
  margin-right: 96px;
}
.product-description {
  width: 50%;
}
.product-image img {
  padding-top: 20px;
  width: 100%;
}

.product-description > h1 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 16px;
}
.product-description > p {
  font-size: 16px;
  font-weight: bold;
  color: #6c6c6c;
  margin-bottom: 2em;
}
.join-btn {
  padding: 10px 24px;
  background-color: var(--span-background);
}
/*===================
 footer start here 
===================== */
.footer-text {
  padding: 50px;
  background-color: #0a0826;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-text h2 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
}
small p {
  margin-bottom: 10px;
  color: #d9dbe1;
  font-weight: bold;
  font-size: 14px;
}
.icons {
  display: flex;
}
.icons > i {
  width: 32px;
}

/* ========================
 responsive css start here  
===========================*/
@media only screen and (max-width: 688px) {
  section {
    margin: 0 10px 15px 10px;
  }
  .navigation-menu {
    justify-content: space-between;
  }
  .nav-link {
    display: none;
  }
  .menu-icon {
    visibility: block;
    order: 1;
  }
  .nav-title {
    order: 2;
  }
  .nav-icon {
    order: 3;
  }
  .header-items {
    display: flex;
    flex-direction: column;
  }
  .header-image {
    order: 1;
  }
  .header-text {
    margin-top: 30px;
    order: 2;
  }
  .header-text h1 {
    font-size: 38px;
  }
  .logo-items {
    display: none;
  }
  .join-btn,
  .description-btn {
    padding: 5px 12px;
  }
  .card-group {
    grid-template-columns: repeat(1, 1fr);
  }
  .feature-product {
    padding: 0 45px;
    display: flex;
    justify-content: column;
    align-items: center;
    flex-direction: column;
  }

  .product-description {
    width: 100%;
  }
  .product-image {
    width: 100%;
    margin-right: 0;
  }
  .product-image img {
    width: 100%;
    padding: 0;
  }
  .products{
    padding: 0 20px;
  }
  .footer-text{
    padding: 0;
  }
  .header-text {
  width: 80%;
  margin: 10%;
}
}
